/* Add your global styles here */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

.search-container {
  position: absolute;
  top: 0;
  left: 1rem;
  margin-top: 0.5rem;
}

.filter-container {
  position: absolute;
  top: 0;
  right: 2rem;
  margin-top: 0.5rem;
  
  
}

.table-container {
  flex: 1;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: auto; /* Add scroll bar to the table container */
  margin-top: 3rem;
}

table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}

table thead tr {
  background-color: #757474;
  color: #333;
}

table tbody tr {
  text-align: center;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-container {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  margin: 1rem;
}

/* Additional styling for Material-UI components */
.MuiFormControl-root {
  margin-right: 10px;
}

/* Responsive Styles */

/* For small screens */
@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .search-container,
  .filter-container {
    position: static;
    width: 100%;
    margin: 0.5rem 0;
  }

  .table-container {
    margin-top: 1rem;
  }
}
